<p id="notice"><%= notice %></p>
<div class="menu">
  <%= react_component("Menu", props:@menuProps) %>
</div>
<div class="display">
  <%= react_component("Display", props:@menuProps) %>
</div>

<!-- <p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Header colour:</strong>
  <%= @report.header_colour %>
</p>

<p>
  <strong>Footer colour:</strong>
  <%= @report.footer_colour %>
</p>

<p>
  <strong>Footer date:</strong>
  <%= @report.footer_date %>
</p>

<p>
  <strong>Footer company:</strong>
  <%= @report.footer_company %>
</p>

<%= link_to 'Edit', edit_user_report_path(@user, @report) %> |
<%= link_to 'Back', root_path %> -->
